<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/BAGGYY.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="https://kit.fontawesome.com/0f0b5058e5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body class="pt-32">
        {{ include('topbar/_navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('footer/_footer.html.twig') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('navbar') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
