<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/BAGGYY.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="https://kit.fontawesome.com/0f0b5058e5.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="pt-32">
        {{ include('topbar/_navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('navbar') }}
    </body>
</html>
